.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  /* max-width: 100%; */

  height: 100%;
  /* max-height: 100%; */
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;

  /* spacing as needed */
  padding: 1rem;

  /* let it scroll */
  overflow: auto;
  background-color: #fff;
}

.modal-container {
  margin: 2rem 0;
}

.close {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  float: right;
  margin-bottom: 1rem;
  border: 1px solid #000;
  border-radius: 3px;
}

.close:hover,
.close:focus {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  cursor: pointer;
}

.article-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.article {
  position: relative;
  padding: 0.5rem 0;
  border-bottom: 2px solid #000;
}

.article figure {
  margin: 0;
  padding: 0;
}

.article a {
  text-decoration: none;
  color: #000;
}

.article img {
  width: 100%;
  display: block;
}

.article h1 {
  margin: 1rem 0;
  transition: color 0.3s ease;
}

.article figcaption {
  margin-bottom: 1rem;
}

.searched-article {
  margin-bottom: 1rem;
}

.copyright {
  color: #999;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.2px;
  margin-top: 4px;
  text-align: right;
}

.info-container {
  width: 100%;
  height: auto;
  color: #000;
  display: flex;
  flex-direction: column;
}

.info-container a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.info-container h3 {
  transition: color 0.3s ease;
  margin: 0;
  text-align: left;
  font-size: 1.875rem;
  line-height: 2.0625rem;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
  transition: 0.3s;
}

.info-container h3:hover,
.article h1:hover {
  color: #666;
}

.info-container p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: normal;
}

@media (min-width: 576px) {
  .article-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .article {
    margin: 0.25rem 0.5rem;
  }
}

@media (min-width: 768px) {
  .article-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .article {
    margin: 0.25rem 0.5rem;
  }

  .info-container h3 {
    font-size: 1.25rem;
    line-height: 1.4375rem;
  }
}

@media (min-width: 992px) {
  .article-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .article-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.scroller {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  min-height: 10vmax;
  max-height: 80vmin;
}

.toparticle {
  display: flex;
  flex-direction: column;
  min-width: calc(80vw - 3rem);
  position: relative;
  padding: 0.5rem 0;
  margin-right: 1rem;
}

.toparticle:first-child {
  margin-left: calc((80vw - 3rem) / 4);
}

.toparticle figure {
  margin: 0;
  padding: 0;
}

.toparticle a {
  text-decoration: none;
  color: #000;
}

.toparticle img {
  width: 100%;
  display: block;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .toparticle h3 {
  margin: 1rem 0;
  transition: color 0.3s ease;
} */

.toparticle figcaption {
  margin-bottom: 1rem;
}
